@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
    background-color: #FBF8F1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; 
  }

#profile {
    border-radius: 150px;
}

h1, h3 {
    font-family: 'Poppins';
}

h1, h3 {
    color: #F4BFBF;
}

p {
    color: #8CC0DE;
}

.btn-blue {
    background-color: #F4BFBF;
    color: #3A5BA0;
    padding: 8px 24px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-blue:hover {
    color: #FFD9C0;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline-block;
    padding: 0px 20px;
    color: #3A5BA0;
    display: inline-block;
    padding: 0px 20px; 
    list-style: none;
    padding-left: 0px;
}

.card-white {
    background-color: white;
    padding: 35px;
    margin: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 500px;
    margin: 24px auto;
    text-align: center; 
}

.card-white {
    background-color: white;
    padding: 35px;
    margin: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 500px;
    margin: 24px auto;
    text-align: center;  
}

.social-icon {
    font-size: 25px;
    color:#3A5BA0
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .card-white {
    width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .card-white {
    width: 500px;
    }
}

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .card-white {
    width: 300px;
    }
}